@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans;
}

body {
    background-color: lightgray;
}

main {
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;  
}

.container {
    background-color: white;
    width: 700px;
    padding-right: 160px;
    
}

.logo {
    padding-left: 100px;
    padding-top: 40px;
}

main .principal {
    padding-left: 100px;
    padding-top: 90px;
}

main .principal h1 {
    color: hsl(0, 36%, 70%);
    font-weight: 200;
}

main .principal h2 {
    line-height: 28px;
    font-size: 20pt;
}

main .principal p {
    color: hsl(0, 36%, 70%);
    margin-top: 30px;
    line-height: 20px;
}

.foto {
    float: right;
    max-width: 500px;
}

main .principal input {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    float: left;
    border-radius: 23px;
    text-indent: 15px; 
}

main .principal button {
    border: none;
    margin-top: 22px;
    background-color: hsl(0, 93%, 68%);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    float: right;
    
}





